<!-- This page will search records according user keyboard -->
<div class="container" style="margin-top: 70px;">
	<div class="row">
		<div class="col-md-2" style="margin-top: 13px;"></div>

		<!-- display searching data   -->
		<div class="col-md-8" style="margin-top: 13px;">
			<div>
				<% if @category_results == [] && @product_results == [] %>
					<div class="alert alert-warning"><h2> Please search relevent Keyboard. </h2></div>
				<% end %>
			</div>

			<div class="nav-section-cat-list">
				<% if @category_results != [] && @product_results == [] %>
					<% if @root_child_categories %>
						<ul class="ulBullet" style="margin-left:10px; margin-top:5px; height: 180px;">
				  		<% @root_child_categories.each do |category| %>
								<li class="fltLeft" style="width: 240px; height: 138px; margin-left: 2px;">
									<%= link_to(url_for("/category_product/#{category.name}"),:remote=>true,:class=> "fltLeft cat-nov-col") do %>
										<div class="fltLeft">
											<img class="imageSize" src="<%= category.image %>">
										</div>
										<div class=" labelSize" style="position:relative; top:10px; left:100px;">
											<span class="arrow-right"><b><%= category.name %></b></span>
										</div>
									<% end %>
								</li>
							<% end %>
						</ul>
					<% end %>
			</div>
		</div>

		<div class="col-md-2" style="margin-top: 13px;">
		</div>
	</div>
</div>