<!-- It will edit category data -->
<div class="container" style="margin-top: 75px;">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h1> Editing Brands</h1>
			<!-- It will add form for editing -->
			<%= render 'form' %>
			<%= link_to 'Show', category_path, :remote=>true %> |
			<%= link_to 'Back', categories_path, :remote=>true %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>